<ion-view view-title="BiologyAPP">
  <ion-content class="padding">
    <center>
    	
    		<h4><b>DAVID AREVALO</b></h4>
    		<div class="row">
    		</div><br>
    		<div class="row">
    			<div class="col-md-12">
    				
    			</div>
    		</div>
            <!--texto adn-->
    
    		<div class="row">
    			<div class="col-md-12">
    				<p class="parrafo">La palabra biología está formada por dos vocablos griegos: bios (“vida”) y logos (“estudio”). Se trata de una ciencia natural que se dedica a analizar las propiedades y las características de los organismos vivos, centrándose en su origen y en su desarrollo.</p>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-12">
                <br>
                <br>
                
                

                    <iframe width="300" height="300" src="https://www.youtube.com/embed/m8iuW-qtPBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




                    
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="tex">ADN</h1>
          <h5 class="texw">Sigla de ácido desoxirribonucleico, proteína compleja que se encuentra en el núcleo de las células y constituye el principal constituyente del material genético de los seres vivos.</h5>
        </div>
      </div>
    </div>
    <!--ADN-->
    <div class="container">
      <div class="row">
        <div class="col col-20"></div>
          <div class="col col-50">        
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          <div class="dna"></div>
          </div>

 
      </div>
    </div>
    <hr>
             
              </div>
            </div>
            </ion-content>
            </ion-viewn
     
    

            
    			</div>
    		</div>
    		
    	
    	

    </center>	
    

    
  </ion-content>
</ion-view>
